@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #38bdf8; 
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a192f; 
}

h1, h2, h3 {
  color: #ffffff;
}

p {
  color: #ccd6f6; 
}