@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #38bdf8; /* light blue */
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a192f; /* dark blue */
}

.project-card {
  background-color: #112240; /* slightly lighter */
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1, h2, h3 {
  color: #ffffff;
}

p {
  color: #ccd6f6; /* soft white */
}